<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.put.inf151739">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Kalkulator Czasu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Time_Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="androidx.core.app.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Date_Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="androidx.core.app.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Kalkulator czasu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>